<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% if !!current_cart%>

  <%= render partial: 'line_items_list', collection: current_cart.line_items, as: :line_item%>
 


	<p>Order total: <strong><%= total_price(current_cart) %></strong> </p>

	<p>Cart Status: <%= current_cart.status%>
	
<%= button_to 'Checkout', checkout_path %>

<% end %>

